$width: 1020px;
.home {
  .header {
    .logo1 {
      height: 92px;

      .log_img {
        width: 113px;
        height: 92px;
        margin: 0 auto;

      }
    }

    .logo2 {
      .item {

        margin-left: 100px;
      }
    }
  }
}

.center {
  background: white;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  //grid-template-rows: repeat(3, 33.33%);
  img {
    width: 100%;
  }

}

.one {
  //margin-left: 30px;
  background: white;
  width: $width;
  margin-top: 20px;

  .tableBox {
  }
}

.imgs {
  img {
    width: $width;

  }
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;

  .container {
    display: flex;
    flex-direction: column;
    color: #575757;
    font-size: 13.33px;

    .first {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .wb {
        margin-right: 10px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        .wb-img{
          margin-right: 10px;
        }
      }

      .wx {
        cursor: pointer;
        display: flex;
        .wx-img{
          margin-right: 10px;

        }
      }

    }

    .next {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      div {
        padding: 0 10px;
      }
    }
    .last{
      margin-top: 20px;

      text-align: center;
    }
  }
}
.go-top{
position: absolute;
  right: 10px;
  top: 2400px;
}